.navbar {
	width: 100vw;
	height: auto;
	display: grid;
	grid-template-columns: min(160px, 5vw) auto 1fr auto 75px auto min(
			160px,
			5vw
		);
	color: white;
	font-size: 25px;
	background-color: #1f2a63;
	box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
}

.navbar__logo_wrapper {
	grid-column: 2;
	margin-top: 14px;
}

.navbar__home_button {
	grid-column: 4;
	line-height: 100%;
	align-self: center;
	padding: 8px 0;
	border-bottom: 3px solid transparent;
	cursor: pointer;
	user-select: none;
}

.navbar__characters_button {
	grid-column: 6;
	line-height: 100%;
	align-self: center;
	padding: 8px 0;
	box-sizing: content-box;
	border-bottom: 3px solid transparent;
	cursor: pointer;
	user-select: none;
}

.active_page {
	border-bottom: 3px solid #cfdab0;
}
